<div id="especialidades_table_container">
    <p-table #dt_especialidades [value]="servEspecialidad.especialidades.value" dataKey="id" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} items">

        <ng-template pTemplate="caption">
            <div id="especialidades_table_header">
                <div id="especialidades_table_title">
                    Especialidades
                </div>

                <div id="nueva_especialidad_container">
                    <input type="text" pInputText placeholder="Nueva especialidad" [(ngModel)]="especialidad">
                    <p-button icon="fa fa-plus" label="Agregar" (click)="AgregarEspecialidad()" />
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">
                    <div>
                        Nombre
                        <p-sortIcon field="nombre" />
                    </div>
                </th>
                <th pSortableColumn="valida">
                    <div>
                        Válida
                        <p-sortIcon field="valida" />
                    </div>
                </th>
                <th>
                    <div>
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-especialidad>
            <tr>
                <td>
                    <span class="p-column-title">Nombre</span>
                    {{ especialidad.nombre }}
                </td>
                <td>
                    <span class="p-column-title">Válida</span>
                    {{ especialidad.valida ? 'Sí' : 'No' }}
                </td>
                <td>
                    <button pButton pRipple type="button" [icon]="especialidad.valida ? 'fa-regular fa-rectangle-xmark' : 'fa-regular fa-square-check'"
                        [label]="especialidad.valida ? 'Invalidar' : 'Validar'"
                        (click)="ToogleValidarEspecialidad(especialidad)" [rounded]="true"
                        [severity]="especialidad.valida ? 'warning' : 'success'"></button>

                    <button pButton pRipple type="button" icon="fa fa-trash" label="Borrar"
                        (click)="BorrarEspecialidad(especialidad.id)" class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay especialidades.</td>
            </tr>
        </ng-template>
    </p-table>
</div>