<div id="especialidades_table_container">
    <p-table #dt_especialidades [value]="servEspecialidad.especialidades.value" dataKey="id" editMode="row" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} items">

        <ng-template pTemplate="caption">
            <div id="especialidades_table_header">
                <div id="especialidades_table_title">
                    Especialidades
                </div>

                <div id="nueva_especialidad_container">
                    <input type="text" pInputText placeholder="Nueva especialidad" [(ngModel)]="especialidad">
                    <p-button icon="fa fa-plus" label="Agregar" (click)="AgregarEspecialidad()" />
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">
                    <div>
                        Nombre
                        <p-sortIcon field="nombre" />
                    </div>
                </th>

                <th>
                    <div>
                        Imagen
                    </div>
                </th>

                <th pSortableColumn="valida" class="valida_column">
                    <div>
                        Válida
                        <p-sortIcon field="valida" />
                    </div>
                </th>

                <th class="acciones_column">
                    <div>
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-especialidad let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="especialidad" [class.valida_row]="especialidad.valida"
                [class.invalida_row]="!especialidad.valida">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" name="especialidad_name_input"
                                [(ngModel)]="especialidad.nombre">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{especialidad.nombre}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" name="especialidad_name_input"
                                [(ngModel)]="especialidad.url_foto">
                        </ng-template>
                        <ng-template pTemplate="output">
                            @if (especialidad.url_foto) {
                            <div name="especialidad_img_container">
                                <img [src]="especialidad.url_foto" alt="">
                            </div>
                            } @else {
                            Sin imagen.
                            }
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td class="valida_column" name="valida_cell">
                    {{ especialidad.valida ? 'Sí' : 'No' }}
                </td>

                <td class="acciones_column">
                    <div name="edit_buttons_container">
                        @if (!editing) {
                        <button pButton pRipple type="button" pInitEditableRow icon="fa fa-pencil" [rounded]="true"
                            severity="info" (click)="onRowEditInit(especialidad)"></button>
                        }

                        @if (editing) {
                        <button pButton pRipple type="button" pSaveEditableRow icon="fa fa-check" [rounded]="true"
                            severity="success" (click)="onRowEditSave(especialidad, ri)"></button>

                        <button pButton pRipple type="button" pCancelEditableRow icon="fa fa-times" [rounded]="true"
                            severity="warning" (click)="onRowEditCancel(especialidad, ri)"></button>
                        }

                        <button pButton pRipple type="button" icon="fa fa-trash"
                            (click)="BorrarEspecialidad(especialidad.id)" [rounded]="true" severity="danger"></button>

                        <button pButton pRipple type="button"
                            [icon]="especialidad.valida ? 'fa-regular fa-rectangle-xmark' : 'fa-regular fa-square-check'"
                            [label]="especialidad.valida ? 'Invalidar' : 'Validar'"
                            (click)="ToogleValidarEspecialidad(especialidad)" [rounded]="true"
                            [severity]="especialidad.valida ? 'secondary' : 'help'"></button>

                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay especialidades.</td>
            </tr>
        </ng-template>
    </p-table>
</div>