<div id="registrarse_container">
    <div id="registrarse_card_container" name="form_card" class="cristal_card">
        <div id="registrarse_title_container" name="form_card_title">
            @if (tipo_usuario) {
            <i class="fa-solid fa-arrow-left" (click)='SeleccionarTipo("")'></i>
            }

            <div id="registrarse_title">
                Registrarse

                <button pButton class="p-button-secondary" routerLink="/login">Ya tengo una cuenta</button>
            </div>
        </div>

        <div id="registrarse_content">
            @if (!tipo_usuario) {
            <div id="select_tipousuario_container">
                <div id="boton_registrar_paciente" class="cristal_card" (click)='SeleccionarTipo("paciente")'>
                    <img src="assets/logos/paciente.jfif" height="100" class="mr-2" />
                    Paciente
                </div>
                <div id="boton_registrar_especialista" class="cristal_card" (click)='SeleccionarTipo("especialista")'>
                    <img src="assets/logos/especialista.jfif" height="100" class="mr-2" />
                    Especialista
                </div>
            </div>
            }

            @if (tipo_usuario) {
            <div id="registrarse_form_container">
                <app-usuario-form [tipo_usuario]="tipo_usuario"></app-usuario-form>
            </div>
            }
        </div>
    </div>
</div>