<div id="usuarios_table_container">
    <p-table #dt_usuarios id="dt_usuarios" [value]="servUsuario.usuarios.value" dataKey="id"
        [globalFilterFields]="filterByParams" [scrollable]="true" scrollHeight="flex" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} items">

        <ng-template pTemplate="caption">
            <div id="table_menu">
                <div id="table_menu_title_container" name="table_menu_row">
                    <div id="table_menu_title">
                        Usuarios
                    </div>
                </div>

                <div id="filter_buttons_container" name="table_menu_row">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="fa-solid fa-magnifying-glass" />
                        <input type="search" pInputText placeholder="Buscador"
                            (input)="dt_usuarios.filterGlobal($any($event.target).value, 'contains')"
                            [(ngModel)]="globalFilter">
                    </p-iconField>

                    <button id="reset_filters_btn" pButton label="Reset" class="p-button-outlined p-button-sm"
                        icon="fa-solid fa-filter-circle-xmark" (click)="clear(dt_usuarios)"></button>

                    <p-columnFilter type="text" field="nombre" display="menu" matchMode="contains"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> Nombre
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter type="text" field="apellido" display="menu" matchMode="contains"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> Apellido
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter type="text" field="email" display="menu" matchMode="contains" [showOperator]="false"
                        [showAddButton]="false">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> E-Mail
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter field="tipo" display="menu" matchMode="equals" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> Tipo de usuario
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="tipoUsuarioOptions" [filter]="false"
                                placeholder="Tipo de usuario" optionLabel="label" optionValue="value" appendTo="body"
                                (onChange)="filter($event.value)">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>

                <div id="acciones_masivas_buttons_container" name="table_menu_row">
                    <button pButton pRipple label="Nuevo admin" icon="fa-solid fa-user-shield" severity="warning"
                        (click)='NuevoUsuario("admin")'></button>

                    <button pButton pRipple label="Nuevo paciente" icon="fa-solid fa-user-injured" severity="info"
                        (click)='NuevoUsuario("paciente")'></button>

                    <button pButton pRipple label="Nuevo especialista" icon="fa-solid fa-user-doctor" severity="success"
                        (click)='NuevoUsuario("especialista")'></button>

                    <button pButton type="button" label="Descargar Excel" icon="fa-regular fa-file-excel"
                        (click)="ExportarExcelUsuarios()"></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">

        </ng-template>

        <ng-template pTemplate="body" let-usuario_item>
            <tr>
                <td>
                    <div name="usuario_item_card" [class.paciente]='usuario_item.tipo == "paciente"'
                        [class.especialista]='usuario_item.tipo == "especialista"'
                        [class.admin]='usuario_item.tipo == "admin"'>
                        <app-usuario-item [usuario]="usuario_item" (action)="actionHandler($event)"></app-usuario-item>

                        <div name="usuario_item_buttons">
                            @if (usuario_item.tipo == "especialista") {
                            <button pButton pRipple type="button"
                                [icon]="servUsuario.GetUserAsEspecialista(usuario_item).habilitado ? 'fa-regular fa-rectangle-xmark' : 'fa-regular fa-square-check'"
                                [label]="servUsuario.GetUserAsEspecialista(usuario_item).habilitado ? 'Deshabilitar' : 'Habilitar'"
                                (click)="ToogleHabilitarEspecialista(servUsuario.GetUserAsEspecialista(usuario_item))"
                                [rounded]="true"
                                [severity]="servUsuario.GetUserAsEspecialista(usuario_item).habilitado ? 'contrast' : 'secondary'"></button>
                            }

                            @if (usuario_item.tipo == "paciente") {
                            <button pButton label="Ver historia clínica" icon="fa-solid fa-book-medical"
                                (click)="MostrarHistoriaClinica(usuario_item)"></button>
                            }
                        </div>
                    </div>

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="empty_table_message">No hay usuarios.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="editModal" [header]="'Nuevo usuario ' + tipo_usuario" [modal]="true" class="user-modal"
    styleClass="p-fluid user-modal" (onHide)="Cancelar()">
    <ng-template pTemplate="content">
        <app-usuario-form [tipo_usuario]="tipo_usuario" (UserCreated)="Cancelar()"></app-usuario-form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showHistoriaClinica" [modal]="true" class="user-modal" styleClass="p-fluid user-modal"
    (onHide)="OcultarHistoriaClinica()">
    <ng-template pTemplate="content">
        @if (usuario_seleccionado) {
        <app-historia-clinica [paciente_id]="usuario_seleccionado.uid"></app-historia-clinica>
        }
    </ng-template>
</p-dialog>