<div id="usuarios_table_container">
    <p-table #dt_usuarios id="dt_usuarios" [value]="servUsuario.usuarios.value" dataKey="id" [scrollable]="true"
        scrollHeight="flex" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} items">

        <ng-template pTemplate="caption">
            <div id="table_menu">
                <div id="table_menu_title_container" name="table_menu_row">
                    <div id="table_menu_title">
                        Usuarios
                    </div>
                </div>

                <div id="filter_buttons_container" name="table_menu_row">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="fa-solid fa-magnifying-glass" />
                        <input type="search" pInputText placeholder="Buscador"
                            (input)="dt_usuarios.filterGlobal($any($event.target).value, 'contains')"
                            [(ngModel)]="globalFilter">
                    </p-iconField>

                    <button id="reset_filters_btn" pButton label="Reset" class="p-button-outlined p-button-sm"
                        icon="fa-solid fa-filter-circle-xmark" (click)="clear(dt_usuarios)"></button>

                    <p-columnFilter type="text" field="nombre" display="menu">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> Nombre
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter type="text" field="email" display="menu">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> E-Mail
                        </ng-template>
                    </p-columnFilter>
                </div>

                <div id="acciones_masivas_buttons_container" name="table_menu_row">
                    <button pButton pRipple label="Nuevo admin" icon="fa-solid fa-user-shield" severity="warning"
                        (click)='NuevoUsuario("admin")'></button>

                    <button pButton pRipple label="Nuevo paciente" icon="fa-solid fa-user-injured" severity="info"
                        (click)='NuevoUsuario("paciente")'></button>

                    <button pButton pRipple label="Nuevo especialista" icon="fa-solid fa-user-doctor" severity="success"
                        (click)='NuevoUsuario("especialista")'></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">

        </ng-template>

        <ng-template pTemplate="body" let-usuario_item>
            <tr>
                <td>
                    <div name="usuario_item_card" [class.paciente]='usuario_item.tipo == "paciente"'
                        [class.especialista]='usuario_item.tipo == "especialista"'
                        [class.admin]='usuario_item.tipo == "admin"'>
                        <app-usuario-item [usuario]="usuario_item" (action)="actionHandler($event)"></app-usuario-item>

                        <div name="usuario_item_buttons">
                            @if (usuario_item.tipo == "especialista") {
                            <button pButton pRipple type="button"
                                [icon]="servUsuario.GetUserAsEspecialista(usuario_item).habilitado ? 'fa-regular fa-rectangle-xmark' : 'fa-regular fa-square-check'"
                                [label]="servUsuario.GetUserAsEspecialista(usuario_item).habilitado ? 'Deshabilitar' : 'Habilitar'"
                                (click)="ToogleHabilitarEspecialista(servUsuario.GetUserAsEspecialista(usuario_item))"
                                [rounded]="true"
                                [severity]="servUsuario.GetUserAsEspecialista(usuario_item).habilitado ? 'contrast' : 'secondary'"></button>
                            }
                        </div>
                    </div>

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay usuarios.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="editModal" [header]="'Nuevo usuario ' + tipo_usuario" [modal]="true" class="user-modal"
    styleClass="p-fluid user-modal" (onHide)="Cancelar()">
    <ng-template pTemplate="content">
        <app-usuario-form [tipo_usuario]="tipo_usuario" (UserCreated)="Cancelar()"></app-usuario-form>
    </ng-template>

    <!-- <ng-template pTemplate="footer">
        <div id="dialog_acciones_competencia" class="flex justify-content-between">
            <button pButton pRipple label="Cancelar" icon="fa fa-times" class="p-button-outlined p-button-warning"
                (click)="Cancelar()"></button>
        </div>
    </ng-template> -->
</p-dialog>