@if (servAuth.usuarioActual.value) {
<div id="mi_perfil_container">
    <div id="mi_perfil_card" class="cristal_card" [class.paciente]='servAuth.usuarioActual.value.tipo == "paciente"'
        [class.especialista]='servAuth.usuarioActual.value.tipo == "especialista"'
        [class.admin]='servAuth.usuarioActual.value.tipo == "admin"'>
        <app-usuario-item [usuario]="servAuth.usuarioActual.value"></app-usuario-item>
    </div>

    @if (servAuth.usuarioActual.value.tipo == "especialista") {
    <div id="mis_horarios_container">
        <app-mis-horarios [especialista]="servAuth.GetUsuarioAsEspecialista()!"></app-mis-horarios>
    </div>
    }

    @if (servAuth.usuarioActual.value.tipo == "paciente") {

    <div id="mi_historia_clinica_container">
        <div id="mi_historia_clinica_descarga_container">
            <label for="mi_historia_clinica_select_especialista">Filtrar descarga por especialista:</label>

            <p-dropdown id="mi_historia_clinica_select_especialista" [options]="especialistas_options"
                [(ngModel)]="especialista_filtra_turnos" placeholder="Seleccionar especialista" appendTo="body"
                [showClear]="true">
                <ng-template pTemplate="selectedItem">
                    <div>{{ especialista_filtra_turnos | nombreApellidoUsuario | async}}</div>
                </ng-template>
                <ng-template let-especialista pTemplate="item">
                    <div>{{ especialista | nombreApellidoUsuario | async}}</div>
                </ng-template>
            </p-dropdown>

            <button pButton label="Descargar Historia clínica" icon="fa-regular fa-file-pdf"
                [disabled]="!(paciente_turnos.length > 0)" (click)="ExportarPDF()"></button>
        </div>

        <app-historia-clinica [paciente_id]="servAuth.GetUsuarioAsPaciente()!.uid"
            (Turnos)="TurnosHandler($event)"></app-historia-clinica>
    </div>
    }

</div>
}