<div id="home_container">

    <div id="home_subcontainer" class="cristal_card">
        <div id="home_header">
            <img src="assets/logos/main_logo.png" alt="Clínica Online" height="100">
            <div id="home_title_text">Clínica Online</div>
        </div>

        @if (servAuth.usuarioActual.value) {
        <h2>
            ¡Te damos la bienvenida {{this.servAuth.usuarioActual.value.tipo}}
            {{this.servAuth.usuarioActual.value.nombre}}!
        </h2>
        }

        <p>
            Clínica Online es la forma más fácil y rápida de sacar turnos con especialistas en salud.
            Con Clínica Online, puedes encontrar el especialista que necesitas, programar tu cita, todo desde tu
            teléfono o computadora.
        </p>

        @if (servAuth.usuarioActual.value && servAuth.usuarioActual.value.tipo == "especialista" &&
        !servAuth.GetUsuarioAsEspecialista()?.habilitado) {
        <p>
            Tu cuenta de especialista aún no ha sido habilitada. Por favor, espera a que un administrador la habilite.
        </p>
        }

        @if (servAuth.logueado == true && servAuth.emailVerified == false) {
        <p>
            Necesitas validar tu email, por favor revisa tu casilla de correo.
            Si no ves el mail revisa la sección de Spam. Y si aún así no lo encuentras, puedes reenviar el mail de
            verificación con el botón debajo.
        </p>
        }

        <div id="botonera_home" name="buttons_container">
            @if (servAuth.logueado == false && servAuth.firstRun == false) {
            <button pButton label="Iniciar sesión" severity="primary" routerLink="/login"></button>

            <button pButton label="Registrarse" severity="secondary" routerLink="/registro"></button>
            }

            @if (servAuth.logueado == true && servAuth.emailVerified == false) {
            <button pButton [label]="resendLabel" [disabled]="cooldownResend > 0" severity="primary"
                icon="fa-solid fa-envelope" (click)="EnviarMailVerificacion()"></button>
            }

            @if ((servAuth.usuarioActual.value && servAuth.usuarioActual.value.tipo == "especialista" &&
            !servAuth.GetUsuarioAsEspecialista()?.habilitado) || (servAuth.logueado == true && servAuth.emailVerified == false)) {
            <button pButton label="Desloguear" icon="fas fa-sign-out-alt" class="p-button-danger" iconPos="right"
                (click)="Desloguear()"></button>
            }
        </div>
    </div>

</div>