<div id="error404_container">

    <div id="error404_header">
        <div id="error404_title">
            Error 404
            <div id="error404_subtitle">
                ¡Ups! No se encuentra esa página
            </div>
        </div>


        <div id="back_to_home_button_container">
            <button pButton label="Volver al inicio" routerLink="/"></button>
        </div>
    </div>

    <div id="error404_image_container">
        <img src="assets/logos/travolta.gif" alt="Error 404" />
    </div>
</div>