<div id="mis_horarios_container">
    @if (especialista) {
    <form [formGroup]="horarioForm">
        <div id="especialidad_container" name="horarios_form_input"
            [class.invalid-input]="isValidControl('especialidad')">
            <label for="especialidad">Especialidad</label>
            <p-dropdown formControlName="especialidad" styleClass="fullwidth" [options]="especialista.especialidades"
                appendTo="body" showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="especialidad_error_container">
                <ng-template pTemplate="selectedItem">
                    <div>{{ getControlValue('especialidad') | especialidad | async }}</div>
                </ng-template>
                <ng-template let-especialidad pTemplate="item">
                    <div>{{ especialidad | especialidad | async }}</div>
                </ng-template>
            </p-dropdown>

            <div id="especialidad_error_container" name="error_container"></div>
        </div>

        <div id="dia_container" name="horarios_form_input" [class.invalid-input]="isValidControl('dia')">
            <label for="dia">Día</label>
            <p-dropdown formControlName="dia" styleClass="fullwidth" [options]="dias" optionLabel="label"
                optionValue="value" appendTo="body" showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="dia_error_container" />

            <div id="dia_error_container" name="error_container"></div>
        </div>

        <div id="hora_inicio_container" name="horarios_form_input"
            [class.invalid-input]="isValidControl('hora_inicio')">
            <label for="hora_inicio">Hora inicio</label>
            <p-inputNumber inputId="hora_inicio" inputStyleClass="fullwidth" styleClass="fullwidth"
                formControlName="hora_inicio" [min]="0" [maxlength]="23" [useGrouping]="false" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="hora_inicio_error_container" />

            <div id="hora_inicio_error_container" name="error_container"></div>
        </div>

        <div id="hora_fin_container" name="horarios_form_input" [class.invalid-input]="isValidControl('hora_fin')">
            <label for="hora_fin">Hora fin</label>
            <p-inputNumber inputId="hora_fin" inputStyleClass="fullwidth" styleClass="fullwidth"
                formControlName="hora_fin" [min]="0" [maxlength]="23" [useGrouping]="false" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="hora_fin_error_container" />

            <div id="hora_fin_error_container" name="error_container"></div>
        </div>

        <div id="submit_container" class="action_buttons_container">
            <button type="submit" pButton pRipple label="Guardar" severity="primary" icon="fa fa-save"
                [disabled]="!horarioForm.valid" (click)="GuardarDisponibilidad()"></button>

            @if (disponibilidadSeleccionada) {
            <button type="submit" pButton pRipple label="Cancelar edición" severity="warning" icon="fa fa-times"
                (click)="CancelarEdicion()"></button>
            }

            <!-- <button pButton pRipple severity="secondary" label="Log form" (click)="logForm()"></button> -->
        </div>
    </form>

    @if(horarioForm.hasError('superposicionHorarios')){
    <div id="formgroup_errors_container" name="error_container">
        <small>
            {{ horarioForm.getError('superposicionHorarios')?.mensaje }}
        </small>
    </div>
    }

    <div id="especialista_horarios_container">
        <p-table [value]="especialista.disponibilidades">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="especialidad">
                        Especialidad <p-sortIcon field="especialidad" />
                    </th>
                    <th pSortableColumn="dia">
                        Día <p-sortIcon field="dia" />
                    </th>
                    <th pSortableColumn="hora_inicio">
                        Hora inicio <p-sortIcon field="hora_inicio" />
                    </th>
                    <th pSortableColumn="hora_fin">
                        Hora fin <p-sortIcon field="hora_fin" />
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-disponibilidad>
                <tr [class.editando]="disponibilidadSeleccionada == disponibilidad">
                    <td>{{ disponibilidad.especialidad | especialidad | async }}</td>
                    <td>{{ disponibilidad.dia | dia }}</td>
                    <td>{{ disponibilidad.hora_inicio }}</td>
                    <td>{{ disponibilidad.hora_fin }}</td>
                    <td>
                        <div name="especialista_horarios_action_container" class="action_buttons_container">
                            <button pButton label="Editar" severity="success" icon="fa fa-pencil"
                                (click)="EditarDisponibilidad(disponibilidad)"></button>
                            <button pButton label="Eliminar" severity="danger" icon="fa fa-trash"
                                (click)="BorrarDisponibilidad(disponibilidad)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="empty_table_message">No hay disponibilidades cargadas.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    }


</div>