div#mis_horarios_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div#mis_horarios_title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1rem;
        padding: 10px;

        #especialidad_container {
            flex: 3;
        }

        #dia_container {
            flex: 2;
        }

        #hora_inicio_container {
            flex: 1;
        }

        #hora_fin_container {
            flex: 1;
        }

        #submit_container {
            flex: 1;
        }

    }
}

div[name="horarios_form_input"] {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.action_buttons_container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.editando {
    background: lightblue;
}

div[name="error_container"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0.25rem;
    color: red;
}

.invalid-input {
    border-color: red;
    color: red;
}

.invalid-input>input {
    border-color: red;
    //color: red;
}