@if (turno) {
<div name="turno_item_card">
    <div name="turno_header_row">
        <div name="turno_fecha">
            <i class="fa-solid fa-calendar-days"></i>
            {{(turno.fecha | fechaDiaMes) + " " + turno.hora}}</div>
        <div name="turno_estado_container">
            <label>Estado:</label>
            <div name="turno_estado">{{turno.estado | turnoEstado}}</div>
        </div>
    </div>

    <div name="turno_data_container">
        <div name="turno_data_group">
            <label>Especialista:</label>
            <div>
                {{turno.id_especialista | nombreApellidoUsuario | async}}
                <span>({{turno.especialidad | especialidad | async}})</span>
            </div>
        </div>
    
        <div name="turno_data_group">
            <label>Paciente:</label>
            <div>{{turno.id_paciente | nombreApellidoUsuario | async}}</div>
        </div>
    </div>

</div>
}