<div id="registro_container">
    <form [formGroup]="userForm">
        <div id="nombre_container" name="registro_form_input" [class.invalid-input]="isValidControl('nombre')">
            <label for="nombre">Nombre</label>
            <input id="nombre" pInputText type="text" formControlName="nombre" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="nombre_error_container" />

            <div id="nombre_error_container" name="error_container"></div>
        </div>

        <div id="apellido_container" name="registro_form_input" [class.invalid-input]="isValidControl('apellido')">
            <label for="apellido">Apellido</label>
            <input id="apellido" pInputText type="text" formControlName="apellido" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="apellido_error_container" />

            <div id="apellido_error_container" name="error_container"></div>
        </div>

        <div id="edad_container" name="registro_form_input" [class.invalid-input]="isValidControl('edad')">
            <label for="edad">Edad</label>
            <p-inputNumber inputId="edad" inputStyleClass="fullwidth" styleClass="fullwidth" formControlName="edad"
                [min]="1" [maxlength]="3" [useGrouping]="false" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="edad_error_container" />

            <div id="edad_error_container" name="error_container"></div>
        </div>

        <div id="dni_container" name="registro_form_input" [class.invalid-input]="isValidControl('dni')">
            <label for="dni">DNI</label>
            <p-inputNumber inputId="dni" inputStyleClass="fullwidth" styleClass="fullwidth" formControlName="dni"
                [min]="10000000" [max]="99999999" [maxlength]="8" [useGrouping]="false" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="dni_error_container" />

            <div id="dni_error_container" name="error_container"></div>
        </div>

        <div id="email_container" name="registro_form_input" [class.invalid-input]="isValidControl('email')">
            <label for="mail">Correo electrónico</label>
            <input id="mail" pInputText type="email" formControlName="email" showValidationErrors
                [validationMessages]="mensajes_validacion" errorContainerId="email_error_container" />

            <div id="email_error_container" name="error_container"></div>
        </div>

        <div id="clave_container" name="registro_form_input" [class.invalid-input]="isValidControl('clave')">
            <label for="clave">Contraseña</label>
            <p-password id="clave" formControlName="clave" inputStyleClass="fullwidth" styleClass="fullwidth"
                [feedback]="false" [toggleMask]="true" showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="clave_error_container" />

            <div id="clave_error_container" name="error_container"></div>
        </div>

        <div id="clave2_container" name="registro_form_input" [class.invalid-input]="isValidControl('clave2')">
            <label for="clave2">Repita la contraseña</label>
            <p-password id="clave2" formControlName="clave2" inputStyleClass="fullwidth" styleClass="fullwidth"
                [feedback]="false" [toggleMask]="true" showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="clave2_error_container" />

            <div id="clave2_error_container" name="error_container"></div>
        </div>

        <div id="url_foto_1_container" name="registro_form_input" [class.invalid-input]="isValidControl('url_foto_1')">
            <label for="url_foto_1">Imagen de perfil 1</label>
            <input id="url_foto_1" type="file" formControlName="url_foto_1" accept="image/*" max="2097152"
                (change)="fileChange($event, 1)" showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="url_foto_1_error_container" />

            <div id="url_foto_1_error_container" name="error_container"></div>
        </div>

        @if (tipo_usuario === 'paciente') {
        <div id="url_foto_2_container" name="registro_form_input" [class.invalid-input]="isValidControl('url_foto_2')">
            <label for="url_foto_2">Imagen de perfil 2</label>
            <input id="url_foto_2" type="file" formControlName="url_foto_2" (change)="fileChange($event, 2)"
                showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="url_foto_2_error_container" />

            <div id="url_foto_2_error_container" name="error_container"></div>
        </div>
        }

        @if (tipo_usuario === 'paciente') {
        <div id="obra_social_container" name="registro_form_input"
            [class.invalid-input]="isValidControl('obra_social')">
            <label for="obra_social">Obra Social</label>
            <p-dropdown formControlName="obra_social" styleClass="fullwidth" [options]="obras_sociales"
                optionLabel="nombre" appendTo="body" showValidationErrors [validationMessages]="mensajes_validacion"
                errorContainerId="obra_social_error_container" />

            <div id="obra_social_error_container" name="error_container"></div>
        </div>
        }

        @if (tipo_usuario === 'especialista') {
        <div id="especialidad_panel">
            <div id="especialidades_container" [class.invalid-input]="isValidControl('especialidades')">
                <label for="especialidades">Especialidades</label>
                <p-multiSelect [options]="especialidades" styleClass="fullwidth" formControlName="especialidades"
                    placeholder="Selecione sus especialidades" optionLabel="nombre"
                    selectedItemsLabel="{0} seleccionadas" appendTo="body" showValidationErrors
                    [validationMessages]="mensajes_validacion" errorContainerId="especialidades_error_container" />

                <div id="especialidades_error_container" name="error_container"></div>
            </div>

            <div id="agregar_especialidad_container">
                <label for="agregar_especialidad">Si no está su especialidad:</label>

                <p-inputGroup>
                    <input id="agregar_especialidad" pInputText type="text" placeholder="Nueva especialidad"
                        [(ngModel)]="agregar_especialidad" [ngModelOptions]="{standalone: true}" />
                    <button type="button" pButton pRipple class="p-button-info" label="Agregar"
                        [disabled]="!agregar_especialidad" (click)="AgregarEspecialidad()"></button>
                </p-inputGroup>
            </div>
        </div>
        }

        @if (mostrarCaptcha == true) {
        <div id="captcha_container" name="registro_form_input" [class.invalid-input]="isValidControl('captcha')">
            <label for="captcha">Verifica que eres un humano</label>
            <input id="captcha" type="text" appCaptcha [disabled]="servAuth.usuarioActual.value?.tipo == 'admin'"
                (captchaResolved)="onCaptchaResolved($event)">

            @if(this.getControl('captcha')!.hasError('captchaInvalido')){
            <div id="captcha_error_container" name="error_container">
                <small>Intente otra vez</small>
            </div>
            }
        </div>
        } @else {
        @if (captchaResuelto) {
        <div id="captcha_success">
            <i class="fa-regular fa-circle-check"></i>
            Eres humano.
        </div>
        }
        }

        <!-- Botón Registrar -->
        <div id="submit_container">
            <button type="submit" pButton pRipple label="Registrar" severity="primary" [disabled]="!userForm.valid"
                (click)="RegistrarUsuario()"></button>
            <button pButton pRipple label="Log Form" severity="secondary" (click)="logForm()"></button>
        </div>

    </form>
</div>