<div id="informes_container" class="cristal_card">
    <div id="informes_header">
        <div id="informes_title">Informes</div>
        <div id="informes_buttons_container">
            <button pButton label="Ingresos al sistema" (click)='ElegirOpcion("ingresos")'></button>
            <button pButton label="Cantidad de turnos por especialidad"
                (click)='ElegirOpcion("turnos_especialidad")'></button>
            <button pButton label="Cantidad de turnos por día" (click)='ElegirOpcion("turnos_dia")'></button>
            <button pButton label="Cantidad de turnos por especialista"
                (click)='ElegirOpcion("turnos_especialista")'></button>
            <button pButton label="Cantidad de turnos finalizados por especialista"
                (click)='ElegirOpcion("turnos_finalizados_especialista")'></button>
        </div>
    </div>

    @if (opcion_seleccionada) {
    <div id="informes_body" class="cristal_card">
        {{opcion_seleccionada}}
        @switch (opcion_seleccionada) {
        @case ("ingresos"){
        <app-ingresos></app-ingresos>
        }
        @case ("turnos_especialidad") {
        <app-grafico-turnos-por-especialidad></app-grafico-turnos-por-especialidad>
        }
        @case ("turnos_dia") {
        <app-grafico-turnos-por-fecha></app-grafico-turnos-por-fecha>
        }
        @case ("turnos_especialista") {
        <app-grafico-turnos-por-especialista></app-grafico-turnos-por-especialista>
        }
        }
    </div>
    }
</div>