<div id="turnos_table_container">
    <p-table #dt_turnos id="dt_turnos" [value]="_turnos" dataKey="id" [globalFilterFields]="filterByParams"
        [scrollable]="true" scrollHeight="flex" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} items">

        <ng-template pTemplate="caption">
            <div id="table_menu">
                <div id="table_menu_title_container" name="table_menu_row">
                    <div id="table_menu_title" style="font-size: 1.5rem;">
                        @if (tipo_usuario_actual == "paciente" || tipo_usuario_actual == "especialista") {
                        Mis
                        } Turnos

                        {{tipo_usuario_actual}}
                    </div>
                </div>

                <!-- <div id="filter_buttons_container" name="table_menu_row">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="fa-solid fa-magnifying-glass" />
                        <input type="search" pInputText placeholder="Buscador"
                            (input)="dt_turnos.filterGlobal($any($event.target).value, 'contains')"
                            [(ngModel)]="globalFilter">
                    </p-iconField>

                    <button id="reset_filters_btn" pButton label="Reset" class="p-button-outlined p-button-sm"
                        icon="fa-solid fa-filter-circle-xmark" (click)="clear(dt_turnos)"></button>

                    <p-columnFilter type="text" field="nombre" display="menu" matchMode="contains"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filtericon">
                            <i class="fa fa-filter"></i> Nombre
                        </ng-template>
                    </p-columnFilter>
                </div> -->

                <div id="acciones_masivas_buttons_container" name="table_menu_row">
                    @if (tipo_usuario_actual == "admin") {
                    <button pButton pRipple label="Nuevo turno" icon="fa-solid fa-calendar-plus"
                        (click)='NuevoTurno()'></button>
                    }
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">

        </ng-template>

        <ng-template pTemplate="body" let-turno_item>
            <tr>
                <td>
                    <div name="turno_card" resaltarEstadoTurno [estadoTurno]="turno_item.estado">
                        <div name="turno_item_container">
                            <app-turno-item [turno]="turno_item"></app-turno-item>
                        </div>

                        <div name="turno_item_actions">
                            @if (turno_item.estado == 1 || (turno_item.estado == 4 &&
                            tipo_usuario_actual == "paciente")) {
                            <button pButton pRipple icon="fa-solid fa-ban" rounded="true" severity="warning"
                                label="Cancelar turno" (click)="CancelarTurno(turno_item)"></button>
                            }

                            @if (turno_item.estado != 1 && turno_item.estado != 4 && tipo_usuario_actual != "admin") {
                            <button pButton pRipple icon="fa-solid fa-note-sticky" rounded="true" severity="secondary"
                                label="Ver reseña" (click)="VerResenia(turno_item)"></button>
                            }

                            @if (tipo_usuario_actual == "paciente" && turno_item.estado == 5) {
                            <button pButton pRipple icon="fa-solid fa-clipboard-list" rounded="true" severity="info"
                                label="Completar encuesta" (click)="CompletarEncuesta(turno_item)"></button>

                            <button pButton pRipple icon="fa-solid fa-star" rounded="true" severity="help"
                                label="Calificar atencion" (click)="CalificarAtencion(turno_item)"></button>
                            }

                            @if (tipo_usuario_actual == "especialista") {
                            @if (turno_item.estado == 1) {
                            <button pButton pRipple icon="fa-solid fa-xmark" rounded="true" severity="danger"
                                label="Rechazar turno" (click)="RechazarTurno(turno_item)"></button>

                            <button pButton pRipple icon="fa-solid fa-check" rounded="true" severity="success"
                                label="Aceptar turno" (click)="AceptarTurno(turno_item)"></button>
                            }

                            @if (turno_item.estado == 4) {
                            <button pButton pRipple icon="fa-solid fa-check-double" rounded="true" severity="success"
                                label="Finalizar turno" (click)="FinalizarTurno(turno_item)"></button>
                            }
                            }

                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="empty_table_message">No hay turnos.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showModal" [header]="titleModal" [modal]="true" class="turno-modal" styleClass="turno-modal"
    (onHide)="CancelarModal()">
    <div id="turno_modal_container" style="height: 100%; width: 100%;">
        @switch (actionModal) {
        @case ("nuevo") {
        <app-turno-form (TurnoCreado)="CancelarModal()"></app-turno-form>
        }
        @case ("comentario") {
        <div id="turno_comentario_container">
            @if (_turno_seleccionado) {
            @if (titleModal == "Finalizar Turno") {
            <div>Comentario:</div>
            } @else {
            <div>Indique el motivo:</div>
            }

            <input id="turno_comentario" type="text" [(ngModel)]="_turno_seleccionado.comentario.texto">
            } @else {
            <div>No hay turno seleccionado</div>
            }
        </div>
        }
        @case ("encuesta") {
        <div id="turno_encuesta_container">
            @if (_turno_seleccionado) {
            <div> Responda las siguientes preguntas:</div>

            <div name="turno_encuesta_pregunta">
                <label for="turno_encuesta_pregunta_1">Pregunta 1:</label>
                <input id="turno_encuesta_pregunta_1" type="text">
            </div>

            <div name="turno_encuesta_pregunta">
                <label for="turno_encuesta_pregunta_2">Pregunta 2:</label>
                <input id="turno_encuesta_pregunta_2" type="text">
            </div>

            <div name="turno_encuesta_pregunta">
                <label for="turno_encuesta_pregunta_3">Pregunta 3:</label>
                <input id="turno_encuesta_pregunta_3" type="text">
            </div>
            } @else {
            <div>No hay turno seleccionado</div>
            }
        </div>
        }
        @case ("calificacion") {
        <div id="turno_calificacion_container">
            @if (_turno_seleccionado) {
            <div>¿Cómo califica la atención recibida?</div>
            <input id="turno_calificacion" type="text">
            } @else {
            <div>No hay turno seleccionado</div>
            }
        </div>
        }
        @case ("verdatos") {
        <div id="turno_resenia_container">
            @if (_turno_seleccionado) {
            <div name="turno_resenia_item">
                <label for="turno_resenia_comentario">Comentario por {{_turno_seleccionado.comentario.autor |
                    nombreApellidoUsuario | async}}</label>
                <div id="turno_resenia_comentario">{{_turno_seleccionado.comentario.texto}}</div>
            </div>

            <div name="turno_resenia_item">
                <label for="turno_resenia_encuesta">Encuesta</label>
                <div id="turno_resenia_encuesta">
                    <div>Pregunta 1: {{_turno_seleccionado.encuesta[1]}}</div>
                    <div>Pregunta 2: {{_turno_seleccionado.encuesta[2]}}</div>
                    <div>Pregunta 3: {{_turno_seleccionado.encuesta[3]}}</div>
                </div>
            </div>

            <div name="turno_resenia_item">
                <label for="turno_resenia_calificacion">Calificación</label>
                <div id="turno_resenia_calificacion">{{_turno_seleccionado.calificacion}}</div>
            </div>
            } @else {
            <div>No hay turno seleccionado</div>
            }
        </div>
        }
        @default {
        <div>Accion no registrada</div>
        }
        }

        @if (actionModal == "comentario" || actionModal == "encuesta" || actionModal == "calificacion") {
        <div id="dialog_action_buttons">
            <button pButton pRipple label="Descartar" icon="fa fa-times" severity="warning"
                (click)="CancelarModal()"></button>

            <button pButton pRipple label="Confirmar" icon="fa fa-check" severity="success"
                (click)="GuardarCambios()"></button>
        </div>
        }
    </div>
</p-dialog>