div#turnos_table_container {
    height: 100%;
    //background-color: aquamarine;
}

:host ::ng-deep #dt_turnos>div>div>table>thead {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 100;
    background-color: #00000060;
    min-height: 55px;
    padding: 0.5rem;
}

:host ::ng-deep #dt_turnos>div>div>table>tbody>tr>td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 0px;
    //background-color: transparent;
}

div#table_menu {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;

    div[name="table_menu_row"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
    }

    div#table_menu_title {
        font-weight: 700;
        font-size: 1.3rem;
    }

    div#acciones_masivas_buttons_container {
        font-size: 0.875rem;
    }

    button#reset_filters_btn {
        border-width: 2px;
        background-color: var(--primary-100);
        padding: 0rem 0.5rem !important;
        height: 39px;

        &:hover {
            background-color: var(--primary-200);
        }
    }
}

div[name="turno_card"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.75rem;

    div[name="turno_item_container"] {
        flex: 2;

        @media (max-width: 576px) {
            flex: none;
            width: 100%;
        }
    }

    div[name="turno_item_actions"] {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;

        @media (max-width: 576px) {
            flex: none;
            width: 100%;
        }
    }
}

:host ::ng-deep .p-dialog {
    width: 65dvw;

    @media (max-width: 576px) {
        width: 95vw;
    }
}

div#turno_modal_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    [name="turno_resenia_item"] {
        label {
            font-weight: 700;
        }

        div#turno_resenia_encuesta {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.125rem;

            div[name="turno_resenia_encuesta_pregunta"] {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.5rem;

                label {
                    font-weight: 400;
                }

                div {
                    /* Agregar borde inferior con puntos */
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.35);
                }
            }
        }
    }

    div#turno_encuesta_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div[name="turno_encuesta_pregunta"] {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;
        }
    }

    div#turno_calificacion_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    div#turno_resenia_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    div#historia_clinica_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div#historia_clinica_form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.5rem;

            div[name="historia_clinica_input"] {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

    div#historia_clinica_agregar_form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;

        div[name="historia_clinica_agregar_input"] {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

div#dialog_action_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}