<div id="obras_sociales_table_container">
    <p-table #dt_obras_sociales [value]="servObraSocial.obras_sociales.value" dataKey="id" editMode="row"
        [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} items">

        <ng-template pTemplate="caption">
            <div id="obras_sociales_table_header">
                <div id="obras_sociales_table_title">
                    Obras Sociales
                </div>

                <div id="nueva_obra_social_container">
                    <input type="text" pInputText placeholder="Nueva obra social" [(ngModel)]="obra_social">
                    <p-button icon="fa fa-plus" label="Agregar" (click)="AgregarObraSocial()" />
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">
                    <div>
                        Nombre
                        <p-sortIcon field="nombre" />
                    </div>
                </th>
                <th class="acciones_column">
                    <div>
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-obras_social let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="obras_social">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" name="obra_social_name_input" [(ngModel)]="obras_social.nombre">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{obras_social.nombre}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="acciones_column">
                    <div name="edit_buttons_container">
                        @if (!editing) {
                        <button pButton pRipple type="button" pInitEditableRow icon="fa fa-pencil" [rounded]="true" severity="info"
                            (click)="onRowEditInit(obras_social)"></button>
                        }

                        @if (editing) {
                        <button pButton pRipple type="button" pSaveEditableRow icon="fa fa-check" [rounded]="true" severity="success"
                            (click)="onRowEditSave(obras_social, ri)"></button>

                        <button pButton pRipple type="button" pCancelEditableRow icon="fa fa-times" [rounded]="true"
                            severity="warning" (click)="onRowEditCancel(obras_social, ri)"></button>
                        }

                        <button pButton pRipple type="button" icon="fa fa-trash" [rounded]="true" severity="danger"
                            (click)="BorrarObraSocial(obras_social.id)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay obras sociales.</td>
            </tr>
        </ng-template>
    </p-table>
</div>