/* You can add global styles to this file, and also import other style files */
body {
    //background-color: #006aff;
    margin: 0px;
    //word-break: break-word;
    height: 100dvh;
}

.cristal_card {
    background-color: rgb(255 255 255 / 20%);
    background: rgba(255, 255, 255, 0.2);
    //border: 1px solid #ccc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    //box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
}

.fullwidth {
    width: 100%;
}

//define var colors for especialista, admin and paciente
$especialista: rgb(123, 219, 124);
$admin: rgb(235, 191, 58);
$paciente: #49c6ff;

.especialista {
    background-color: $especialista;
}

.admin {
    background-color: $admin;
}

.paciente {
    background-color: $paciente;
}

.empty_table_message {
    text-align: center;
}

.turno-pendiente {
    /* Violeta */
    background: #f3e8ff;
    border: solid #c084fc;
    border-width: 1px;
    border-radius: 0.5rem;
    color: #6b21a8;

    [name="turno_estado"] {
        background-color: #c084fc !important;
        color: #6b21a8 !important;
        border-color: #6b21a8 !important;
    }
}

.turno-rechazado {
    /* Rojo */
    background: #fee2e2;
    border: solid #fca5a5;
    border-width: 1px;
    border-radius: 0.5rem;
    color: #dc2626;

    [name="turno_estado"] {
        background-color: #fca5a5 !important;
        color: #dc2626 !important;
        border-color: #dc2626 !important;
    }
}

.turno-cancelado {
    /* Tonos naranja */
    background: #fef3c7;
    border: solid #fcd34d;
    border-width: 1px;
    border-radius: 0.5rem;
    color: #c66a00;

    [name="turno_estado"] {
        background-color: #ffd06a !important;
        color: #c66a00 !important;
        border-color: #c66a00 !important;
    }
}

.turno-aceptado {
    /* Celeste cielo */
    background: #e0f2fe;
    border: solid #bfdbfe;
    border-width: 1px;
    border-radius: 0.5rem;
    color: #0ea5e9;

    [name="turno_estado"] {
        background-color: #a7dbff !important;
        color: #0ea5e9 !important;
        border-color: #0ea5e9 !important;
    }
}

.turno-finalizado {
    /* Verde oscuro */
    background: #d1fae5;
    border: solid #4ade80;
    border-width: 1px;
    border-radius: 0.5rem;
    color: #15803d;

    [name="turno_estado"] {
        background-color: #8bdba8 !important;
        color: #15803d !important;
        border-color: #15803d !important;
    }
}