<div id="nuevo_turno_container">

    <div id="turno_a_solicitar_container" class="cristal_card">
        <div id="turno_a_solicitar_datos_container">
            <div class="cristal_card">
                <label for="turno_a_solicitar_paciente">Paciente:</label>
                @if (_paciente) {
                <span>{{_paciente.nombre + ", " + _paciente.apellido}}</span>

                @if (servAuth.usuarioActual.value?.tipo != "paciente") {
                <button pButton icon="fa fa-times" severity="danger" [rounded]="true" size="small"
                    (click)="CancelarPaciente()"></button>
                }
                }
            </div>

            <div class="cristal_card">
                <label for="turno_a_solicitar_especialidad">Especialidad:</label>
                @if (_especialidad) {
                <span>{{_especialidad.nombre}}</span>
                <button pButton icon="fa fa-times" severity="danger" [rounded]="true" size="small"
                    (click)="CancelarEspecialidad()"></button>
                }
            </div>

            <div class="cristal_card">
                <label for="turno_a_solicitar_especialista">Especialista:</label>
                @if (_especialista) {
                <span>{{_especialista.nombre + ", " + _especialista.apellido}}</span>
                <button pButton icon="fa fa-times" severity="danger" [rounded]="true" size="small"
                    (click)="CancelarEspecialista()"></button>
                }
            </div>

            <div class="cristal_card">
                <label for="turno_a_solicitar_fecha">Fecha:</label>
                @if (_fecha) {
                <span>{{_fecha | fechaDiaMes}}</span>
                <button pButton icon="fa fa-times" severity="danger" [rounded]="true" size="small"
                    (click)="CancelarFecha()"></button>
                }
            </div>

            <div class="cristal_card">
                <label for="turno_a_solicitar_hora">Hora:</label>
                @if (_hora) {
                <span>{{_hora}}</span>
                <button pButton icon="fa fa-times" severity="danger" [rounded]="true" size="small"
                    (click)="CancelarHora()"></button>
                }
            </div>
        </div>

        <div id="turno_a_solicitar_button_container">
            <button pButton id="turno_a_solicitar_button" label="Solicitar Turno" severity="primary"
                [disabled]="!(_paciente && _especialidad && _especialista && _fecha && _hora)"
                (click)="SolicitarTurno()"></button>
        </div>
    </div>

    <div id="turno_form_container">
        @if (!_paciente) {
        @if (pacientes.length > 0) {
        <div id="turno_form_pacientes_container" name="turno_form_item_container">
            <div name="turno_form_item_label">Elija un paciente:</div>

            <div name="turno_form_buttons_container">
                @for (paciente of pacientes; track $index) {
                <button pButton name="turno_form_paciente_button" severity="info" styleClass="fullwidth"
                    (click)="ElegirPaciente(paciente)">
                    <div name="turno_form_button_data_container">
                        <div name="turno_form_button_img_container"><img [src]="paciente.url_foto_1"></div>
                        <div name="turno_form_button_label">{{paciente.nombre + ", " + paciente.apellido}}</div>
                    </div>
                </button>
                }
            </div>
        </div>
        } @else {
        <div>No hay pacientes.</div>
        }
        }

        @if (!_especialidad && _paciente) {
        @if (especialidades) {
        <div id="turno_form_especialidades_container" name="turno_form_item_container">
            <div name="turno_form_item_label">Elija una especialidad:</div>

            <div name="turno_form_buttons_container">
                @for (especialidad of especialidades; track $index) {
                <button pButton name="turno_form_especialidad_button" severity="help" styleClass="fullwidth"
                    (click)="ElegirEspecialidad(especialidad)">
                    <div name="turno_form_button_data_container">
                        <div name="turno_form_button_img_container">
                            <img
                                [src]="especialidad.url_foto ? especialidad.url_foto : servEspecialidad.default_especialidad_img">
                        </div>
                        <div name="turno_form_button_label">{{especialidad.nombre}}</div>
                    </div>
                </button>
                }
            </div>

        </div>
        } @else {
        <div>No hay especialidades.</div>
        }
        }

        @if (!_especialista && _paciente && _especialidad) {
        @if (especialistas.length > 0) {
        <div id="turno_form_especialistas_container" name="turno_form_item_container">
            <div name="turno_form_item_label">Elija un especialista:</div>

            <div name="turno_form_buttons_container">
                @for (especialista of especialistas; track $index) {
                <button pButton name="turno_form_especialista_button" severity="success" styleClass="fullwidth"
                    (click)="ElegirEspecialista(especialista)">
                    <div name="turno_form_button_data_container">
                        <div name="turno_form_button_label">{{especialista.nombre + ", " + especialista.apellido}}</div>
                        <div name="turno_form_button_img_container"><img [src]="especialista.url_foto_1"></div>
                    </div>
                </button>
                }
            </div>
        </div>
        }@else {
        <div>No hay especialistas para la especialidad seleccionada.</div>
        }
        }

        @if (!_fecha && _paciente && _especialidad && _especialista) {
        @if (fechas_disponibles.length > 0) {
        <div id="turno_form_fechas_container" name="turno_form_item_container">
            <div name="turno_form_item_label">Elija la fecha:</div>

            <div name="turno_form_buttons_container">
                @for (fecha of fechas_disponibles; track $index) {
                <button pButton name="turno_form_fecha_button" [label]="fecha | fechaDiaMes" severity="contrast"
                    (click)="ElegirFecha(fecha)"></button>
                }
            </div>
        </div>
        } @else {
        <div>No hay fechas disponibles para ese especialista.</div>
        }
        }

        @if (!_hora && _paciente && _especialidad && _especialista && _fecha) {
        @if (turnos_filtrados_fecha.length > 0) {
        <div id="turno_form_horarios_container" name="turno_form_buttons_container" name="turno_form_item_container">
            <div name="turno_form_item_label">Elija la hora:</div>

            <div name="turno_form_buttons_container">
                @for (turno of turnos_filtrados_fecha; track $index) {
                <button pButton name="turno_form_hora_button" [label]='turno.hora' severity="contrast"
                    (click)="ElegirHora(turno)"></button>
                }
            </div>
        </div>
        } @else {
        <div>No hay horarios disponibles para ese especialista en esa fecha.</div>
        }
        }
    </div>

</div>